Repository stevei101/agentnav: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check

.pre-commit-config.yaml:

repos:
  # Python formatting and linting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: ^backend/
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^backend/
        args: ['--profile', 'black']

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: ^backend/
        additional_dependencies: [types-requests]
        args: [--ignore-missing-imports]

  # Frontend formatting and linting
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bun
        args: [run, lint]
        language: system
        files: \.(ts|tsx|js|jsx)$
        exclude: ^backend/

      - id: frontend-format-check
        name: Frontend Prettier Check
        entry: bun
        args: [run, format:check]
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        exclude: ^backend/

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
        description: Detect private keys in commits

  # Security: Prevent .env file commits (FR#095)
  - repo: local
    hooks:
      - id: check-env-files
        name: Prevent .env file commits (FR#095)
        entry: bash -c
        args:
          - |
            if git diff --cached --name-only | grep -E "^\.env$|/\.env$"; then
              echo "ERROR: .env file detected! Use .env.example instead."
              exit 1
            fi
        language: system
        pass_filenames: false
        always_run: true

Fix/ci isolation prompt vault (#203)
  .github/workflows/ci.yml
  docs/PROMPT_VAULT_NOSQL_BACKEND_EVALUATION.md
Due: frontend-format-check

fix: Update Dockerfile to support bun.lock format
  prompt-vault/Dockerfile
Due: none

feat: Prompt Vault Backend Phase 1 + Suggestion Agent (Issues #205, #200)
  docs/PROMPT_VAULT_AGENT_ARCHITECTURE_PLAN.md
  prompt-vault/backend/Dockerfile
  prompt-vault/backend/PHASE1_COMPLETE.md
  prompt-vault/backend/README.md
  prompt-vault/backend/TESTING_GUIDE.md
  prompt-vault/backend/TEST_RESULTS.md
  prompt-vault/backend/app/__init__.py
  prompt-vault/backend/app/a2a/__init__.py
  prompt-vault/backend/app/a2a/message_bus.py
  prompt-vault/backend/app/a2a/protocol.py
  prompt-vault/backend/app/agents/__init__.py
  prompt-vault/backend/app/agents/base.py
  prompt-vault/backend/app/agents/orchestrator.py
  prompt-vault/backend/app/agents/suggestion.py
  prompt-vault/backend/app/api/__init__.py
  prompt-vault/backend/app/api/agents.py
  prompt-vault/backend/app/api/health.py
  prompt-vault/backend/app/config.py
  prompt-vault/backend/app/main.py
  prompt-vault/backend/app/models/__init__.py
  prompt-vault/backend/app/models/workflows.py
  prompt-vault/backend/app/services/__init__.py
  prompt-vault/backend/app/services/firestore_client.py
  prompt-vault/backend/app/services/supabase_client.py
  prompt-vault/backend/pytest.ini
  prompt-vault/backend/requirements.txt
  prompt-vault/backend/test_suggestion_agent.py
  prompt-vault/backend/tests/__init__.py
  prompt-vault/backend/tests/test_agents_api.py
  prompt-vault/backend/tests/test_config.py
  prompt-vault/backend/tests/test_health.py
Due: frontend-format-check

chore: Add .env.example for backend
  prompt-vault/backend/.env.example
Due: none

fix: Update Cloud Run deployment config for backend
  .github/workflows/build-prompt-vault.yml
  prompt-vault/backend/app/config.py
  prompt-vault/backend/app/main.py
Due: none

fix: Ignore extra environment variables in Settings
  prompt-vault/backend/app/config.py
Due: none

Update System Instructions to include Gen AI Prompt Management App and Supabase (#192)
  .github/copilot-instructions.md
Due: frontend-format-check

Revise System Instruction with code coverage and architecture details
  docs/SYSTEM_INSTRUCTION.md
Due: frontend-format-check

Refactor formatting in SYSTEM_INSTRUCTION.md
  docs/SYSTEM_INSTRUCTION.md
Due: frontend-format-check

Add pull request template for contributors
  .github/templates/pull_request_template.md
Due: frontend-format-check

test: Add comprehensive local testing scripts and guide (Issue #205)
  prompt-vault/backend/LOCAL_TESTING.md
  prompt-vault/backend/test_local.sh
Due: frontend-format-check

chore: Save uncommitted changes for review (mystery branch)
  .github/workflows/ci.yml
  .gitignore
  TEST_VERIFICATION.md
  backend/tests/test_gemini_client.py
  prompt-vault/design-images/ui-features.png
  prompt-vault/frontend/.eslintrc.cjs
  prompt-vault/frontend/src/components/Login.tsx
  prompt-vault/frontend/src/components/PromptList.tsx
  prompt-vault/frontend/src/vite-env.d.ts
  prompt-vault/frontend/tsconfig.json
  scripts/verify-test-changes.sh
Due: frontend-lint, frontend-format-check

Consolidate System Instruction documents
  docs/SYSTEM_INSTRUCTION.md
Due: frontend-format-check

fix: Resolve frontend TypeScript build errors (Issue #214)
  prompt-vault/frontend/src/components/Login.tsx
  prompt-vault/frontend/src/components/PromptList.tsx
  prompt-vault/frontend/src/vite-env.d.ts
  prompt-vault/frontend/tsconfig.json
Due: frontend-lint, frontend-format-check

revert: Remove detect-secrets baseline check from CI workflow
  .github/workflows/ci.yml
Due: none

fix: Force ESLint 8 to use legacy config format (Issue #215)
  .github/workflows/ci.yml
  prompt-vault/frontend/package.json
Due: frontend-format-check

fix: Update test_gemini_client.py imports to match new API (Issue #216)
  backend/tests/test_gemini_client.py
Due: none

fix: Correct async mock in test_reason_with_gemini (Issue #216)
  backend/tests/test_gemini_client.py
Due: none

Remove pull request template (#211)
  .github/pull_request_template.md
Due: frontend-format-check

feat(FR#335): Implement Workload Identity (WI) integration for Prompt Vault
  FR335_IMPLEMENTATION_COMPLETE.md
  IMPLEMENTATION_READY.md
  backend/main.py
  backend/requirements.txt
  backend/services/wi_auth.py
  backend/services/wid_client.py
  backend/tests/test_wi_auth.py
  backend/tests/test_wi_e2e.py
  docs/FR335_PROMPT_VAULT_WI_INTEGRATION.md
  terraform/cloud_run.tf
Due: frontend-format-check

fix: Fix frontend unit test errors (Issue #161)
  components/__tests__/streaming-dashboard.test.tsx
  vitest.setup.ts
Due: frontend-lint, frontend-format-check

feat: Rollback Gemma GPU service to resolve Issue #132 (Cloud Run Container Startup Timeout)
  .github/workflows/build.yml
  backend/services/gemma_client.py
Due: none
