Repository stevei101/agentnav: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check

.pre-commit-config.yaml:

repos:
  # Python formatting and linting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: ^backend/
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^backend/
        args: ["--profile", "black"]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: ^backend/
        additional_dependencies: [types-requests]
        args: [--ignore-missing-imports]

  # Frontend formatting and linting  
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bun
        args: [run, lint]
        language: system
        files: \.(ts|tsx|js|jsx)$
        exclude: ^backend/

      - id: frontend-format-check
        name: Frontend Prettier Check
        entry: bun
        args: [run, format:check]
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        exclude: ^backend/

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

fix: use data source for github-actions SA to avoid creation conflicts
  terraform/artifact_registry.tf
  terraform/iam.tf
  terraform/locals.tf
  terraform/outputs.tf
Due: none

Refactor agent system and update ADK implementation
  PR_DESCRIPTION.md
  backend/agents/base_agent.py
  backend/agents/linker_agent.py
  backend/agents/visualizer_agent.py
  backend/main.py
  backend/test_adk_system.py
Due: frontend-format-check

feat: add production Dockerfiles and GitHub Actions build workflow
  .github/workflows/build.yml
  Dockerfile
  backend/Dockerfile
Due: none

fix: optimize Gemma Dockerfile to avoid PyTorch reinstall
  backend/Dockerfile.gemma
Due: none

fix: Replace non-deterministic hash() with hashlib.sha256()
  backend/agents/summarizer_agent.py
Due: none

Checkpoint from VS Code for coding agent session
  .github/copilot-instructions.md
  backend/models/websocket_models.py
  backend/pyproject.toml
Due: frontend-format-check

ci: add debug workflow for Gemma image builds on PRs
  .github/workflows/build-gemma-debug.yml
Due: none

ci: add CI-friendly Gemma Dockerfile and update PR build workflow to use it
  .github/workflows/build-gemma-debug.yml
  backend/Dockerfile.gemma.ci
  backend/requirements-gemma.ci.txt
Due: none

Update copilot-instructions.md with comprehensive AI agent guidance (#27)
  .github/copilot-instructions.md
  backend/models/websocket_models.py
  backend/pyproject.toml
Due: frontend-format-check

Add GitHub Copilot instructions for repository (#30)
  .github/copilot-instructions.md
Due: frontend-format-check

Implement SessionContext and sequential multi-agent workflow (FR#005) (#28)
  backend/agents/base_agent.py
  backend/agents/summarizer_agent.py
  backend/demo_fr005.py
  backend/main.py
  backend/models/__init__.py
  backend/models/context_model.py
  backend/services/context_persistence.py
  backend/test_fr005_workflow.py
  docs/FR005_IMPLEMENTATION.md
  docs/FR005_README.md
  docs/FR005_SUMMARY.md
Due: frontend-format-check

feat(ci-cd): FR#025 - Standardized image tagging strategy
  .github/workflows/build.yml
  docs/IMAGE_TAGGING_STRATEGY.md
Due: frontend-format-check

feat(ci-cd): FR#025 - Standardized image tagging strategy (#32)
  .github/workflows/build.yml
  docs/IMAGE_TAGGING_STRATEGY.md
Due: frontend-format-check

Add documentation for image tagging strategy
  docs/IMAGE_TAGGING.md
Due: frontend-format-check

Add documentation for image tagging strategy (#33)
  docs/IMAGE_TAGGING.md
Due: frontend-format-check

feat: Implement ADK Multi-Agent System with A2A Protocol (#26)
  .github/workflows/build-gemma-debug.yml
  App.tsx
  IMPLEMENTATION_COMPLETE.md
  PR_DESCRIPTION.md
  backend/Dockerfile.gemma.ci
  backend/agents/__init__.py
  backend/agents/base_agent.py
  backend/agents/linker_agent.py
  backend/agents/orchestrator_agent.py
  backend/agents/summarizer_agent.py
  backend/agents/visualizer_agent.py
  backend/demo_fr005.py
  backend/main.py
  backend/models/__init__.py
  backend/models/context_model.py
  backend/requirements-gemma.ci.txt
  backend/services/context_persistence.py
  backend/test_adk_system.py
  backend/test_fr005_workflow.py
  docs/FR005_IMPLEMENTATION.md
  docs/FR005_README.md
  docs/FR005_SUMMARY.md
  services/backendService.ts
Due: frontend-lint, frontend-format-check
