Repository stevei101/agentnav: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check

frontend-lint:
  name: Frontend ESLint
  entry: bun
  args:
  - run
  - lint
  language: system

frontend-format-check:
  name: Frontend Prettier Check
  entry: bun
  args:
  - run
  - format:check
  language: system

fix: Update test_reason_with_gemini_basic to properly test client interface
  backend/tests/test_gemini_client_init.py
Due: none

Update testing-library and related dependencies
  bun.lock
Due: none

feat: Add Prompt Vault Intelligence (FR#201)
  FR201_DEPLOYMENT_CHECKLIST.md
  FR201_QUICK_REFERENCE.md
  backend/agents/__init__.py
  backend/agents/suggestion_agent.py
  backend/main.py
  backend/models/__init__.py
  backend/models/suggestion_models.py
  backend/routes/suggestion_routes.py
  backend/tests/test_suggestion_agent.py
  components/PromptSuggestions.tsx
  docs/FR201_PROMPT_VAULT_INTEGRATION.md
  services/suggestionService.ts
Due: frontend-lint, frontend-format-check

feat: add dedicated prompt vault artifact registry
  .github/workflows/build-prompt-vault.yml
  backend/main.py
  backend/tests/test_adk_health_check.py
  docs/PROMPT_VAULT_ISOLATION_PLAN.md
  terraform/artifact_registry.tf
  terraform/cloud_run.tf
  terraform/iam.tf
  terraform/prompt_vault_cloud_run.tf
  terraform/prompt_vault_secrets.tf
  terraform/provider.tf
  terraform/variables.tf
Due: frontend-format-check

test: stabilize gemini client fake imports
  backend/tests/test_gemini_client_init.py
Due: none

chore: revert baseline changes
  .secrets.baseline
Due: none

docs: integrate prompt vault supabase into system instruction
  docs/SYSTEM_INSTRUCTION.md
Due: frontend-format-check

docs: align prompt vault docs with GAR usage
  docs/SYSTEM_INSTRUCTION.md
Due: frontend-format-check

feat: provision us-central1 artifact registry for prompt vault
  .github/workflows/build-prompt-vault.yml
  docs/PROMPT_MANAGEMENT_APP_DEPLOYMENT.md
  prompt-vault/README.md
  terraform/artifact_registry.tf
  terraform/cloud_run.tf
  terraform/iam.tf
  terraform/provider.tf
  terraform/variables.tf
Due: frontend-format-check

docs: align prompt management image naming with new GAR
  .github/copilot-instructions.md
  prompt-vault/README.md
Due: frontend-format-check

chore(terraform): format configs
  terraform/cloud_run.tf
  terraform/iam.tf
  terraform/provider.tf
  terraform/variables.tf
Due: none

fix: restore backend test stability
  backend/Dockerfile
  backend/agents/summarizer_agent.py
  backend/main.py
  backend/models/context_model.py
  backend/models/stream_event_model.py
  backend/services/event_emitter.py
  backend/tests/test_adk_health_check.py
  backend/tests/test_gemini_client_init.py
  backend/uv.lock
Due: none

feat: secure prompt vault calls with workload identity
  backend/main.py
  backend/pyproject.toml
  backend/routes/prompt_routes.py
  backend/services/workload_identity_auth.py
  backend/services/workload_identity_client.py
  backend/tests/test_prompt_routes.py
  backend/tests/test_workload_identity_auth.py
  backend/tests/test_workload_identity_client.py
  backend/uv.lock
  docs/PROMPT_MANAGEMENT_APP_DEPLOYMENT.md
  docs/SYSTEM_INSTRUCTION.md
  prompt-vault/services/agentNavigatorClient.ts
  terraform/cloud_run.tf
  terraform/iam.tf
  terraform/provider.tf
Due: frontend-lint, frontend-format-check

chore: fix formatting for agent navigator client
  prompt-vault/services/agentNavigatorClient.ts
Due: frontend-lint, frontend-format-check

chore: gate automatic frontend dns management
  terraform/dns.tf
  terraform/variables.tf
Due: none

fix: restore prompt vault workflow structure
  .github/workflows/build-prompt-vault.yml
Due: none

chore: pin esbuild to patched release
  bun.lock
  package.json
Due: frontend-format-check

chore: keep prettier from enforcing docs
  .github/workflows/terraform.yml
  .prettierignore
  prompt-vault/services/agentNavigatorClient.ts
Due: frontend-lint, frontend-format-check

style: format backend for quality gate
  backend/main.py
  backend/models/context_model.py
  backend/models/stream_event_model.py
  backend/routes/prompt_routes.py
  backend/services/workload_identity_auth.py
  backend/services/workload_identity_client.py
  backend/tests/test_adk_health_check.py
  backend/tests/test_prompt_routes.py
  backend/tests/test_workload_identity_auth.py
  backend/tests/test_workload_identity_client.py
Due: none

style: sort imports for ci
  backend/agents/__init__.py
  backend/agents/base_agent.py
  backend/agents/linker_agent.py
  backend/agents/orchestrator_agent.py
  backend/agents/summarizer_agent.py
  backend/agents/visualizer_agent.py
  backend/demo_fr005.py
  backend/main.py
  backend/models/__init__.py
  backend/models/a2a_messages.py
  backend/models/context_model.py
  backend/models/stream_event_model.py
  backend/models/websocket_models.py
  backend/routes/stream_routes.py
  backend/scripts/seed_prompts.py
  backend/services/__init__.py
  backend/services/a2a_protocol.py
  backend/services/a2a_security.py
  backend/services/context_persistence.py
  backend/services/event_emitter.py
  backend/services/firestore_client.py
  backend/services/knowledge_cache_service.py
  backend/services/prompt_loader.py
  backend/services/session_service.py
  backend/services/workload_identity_auth.py
  backend/test_a2a_protocol.py
  backend/test_adk_system.py
  backend/test_fr005_workflow.py
  backend/tests/test_adk_health_check.py
  backend/tests/test_cloud_run_port_binding.py
  backend/tests/test_deployment_config.py
  backend/tests/test_firestore_client.py
  backend/tests/test_fr029_integration.py
  backend/tests/test_gemini_client.py
  backend/tests/test_gemini_client_init.py
  backend/tests/test_knowledge_cache_service.py
  backend/tests/test_prompt_routes.py
  backend/tests/test_session_service.py
  backend/tests/test_stream_routes.py
Due: none

feat: build and deploy prompt management app
  .github/workflows/build.yml
  prompt-vault/.dockerignore
  prompt-vault/.gitignore
  prompt-vault/Dockerfile
  prompt-vault/frontend/.eslintrc.cjs
  prompt-vault/frontend/.gitignore
  prompt-vault/frontend/bun.lock
  prompt-vault/frontend/index.html
  prompt-vault/frontend/package.json
  prompt-vault/frontend/postcss.config.js
  prompt-vault/frontend/src/App.tsx
  prompt-vault/frontend/src/components/Layout.tsx
  prompt-vault/frontend/src/components/Login.tsx
  prompt-vault/frontend/src/components/PromptEditor.tsx
  prompt-vault/frontend/src/components/PromptList.tsx
  prompt-vault/frontend/src/index.css
  prompt-vault/frontend/src/lib/supabase.ts
  prompt-vault/frontend/src/main.tsx
  prompt-vault/frontend/src/types/database.ts
  prompt-vault/frontend/tailwind.config.js
  prompt-vault/frontend/tsconfig.json
  prompt-vault/frontend/tsconfig.node.json
  prompt-vault/frontend/vite.config.ts
Due: frontend-lint, frontend-format-check

chore: satisfy ruff checks
  backend/agents/base_agent.py
  backend/agents/linker_agent.py
  backend/demo_fr005.py
  backend/main.py
  backend/models/a2a_messages.py
  backend/routes/stream_routes.py
  backend/scripts/seed_prompts.py
  backend/services/a2a_protocol.py
  backend/services/a2a_security.py
  backend/services/event_emitter.py
  backend/services/firestore_client.py
  backend/test_a2a_protocol.py
  backend/test_adk_system.py
  backend/test_fr005_workflow.py
  backend/tests/test_adk_health_check.py
  backend/tests/test_deployment_config.py
  backend/tests/test_stream_routes.py
  backend/tests/test_workload_identity_auth.py
  backend/tests/test_workload_identity_client.py
Due: none

chore: patch prompt vault deps and lint fixes
  backend/main.py
  backend/routes/prompt_routes.py
  prompt-vault/frontend/bun.lock
  prompt-vault/frontend/package.json
  prompt-vault/frontend/src/components/Login.tsx
  prompt-vault/frontend/src/components/PromptList.tsx
  prompt-vault/frontend/src/lib/supabase.ts
  prompt-vault/frontend/src/vite-env.d.ts
Due: frontend-lint, frontend-format-check

chore: rerun prettier after workflow edits
  .github/workflows/build.yml
Due: none

chore: satisfy lint formatting gates
  backend/tests/test_deployment_config.py
  types.ts
  vitest.setup.ts
Due: frontend-lint, frontend-format-check

fix: make backend a package for mypy
  backend/__init__.py
Due: none

docs: point prompt vault guide to cursor ide repo
  docs/PROMPT_MANAGEMENT_APP_DEPLOYMENT.md
Due: frontend-format-check

chore: vendor infrastructure repo for terraform workflows
  .github/workflows/terraform.yml
  .gitmodules
Due: none

style: satisfy black formatting
  backend/__init__.py
Due: none

docs(terraform): add note to trigger gha run
  terraform/README.md
Due: frontend-format-check

ci(terraform): allow staging applies
  .github/workflows/terraform.yml
Due: none

ci(terraform): fix staging condition operators
  .github/workflows/terraform.yml
Due: none

ci: populate prompt vault build workflow
  .github/workflows/build-prompt-vault.yml
Due: none

Refactor agent imports and add safe module loader
  backend/Dockerfile
  backend/agents/base_agent.py
  backend/main.py
  backend/models/context_model.py
  backend/models/stream_event_model.py
  backend/routes/stream_routes.py
  backend/services/event_emitter.py
  backend/services/gemini_client.py
  backend/tests/test_adk_health_check.py
  backend/utils/__init__.py
  backend/utils/module_loader.py
Due: none

feat: adopt reusable cloud run deploy workflow
  .github/workflows/build.yml
  .github/workflows/deploy-cloudrun.yaml
  docs/CONTRIBUTION_QUALITY_GATES.md
  docs/IMAGE_TAGGING_STRATEGY.md
  docs/ZERO_TOLERANCE_FAILURE_POLICY.md
Due: frontend-format-check

Path conditions:
  frontend-lint: any of: \.(ts|tsx|js|jsx)$, but not: ^backend/
  frontend-format-check: any of: \.(ts|tsx|js|jsx|json|css|md)$, but not: ^backend/
