Repository stevei101/agentnav: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check

.pre-commit-config.yaml:

repos:
  # Python formatting and linting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: ^backend/
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^backend/
        args: ["--profile", "black"]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: ^backend/
        additional_dependencies: [types-requests]
        args: [--ignore-missing-imports]

  # Frontend formatting and linting  
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bun
        args: [run, lint]
        language: system
        files: \.(ts|tsx|js|jsx)$
        exclude: ^backend/

      - id: frontend-format-check
        name: Frontend Prettier Check
        entry: bun
        args: [run, format:check]
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        exclude: ^backend/

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

Update components/DocumentUpload.tsx
  components/DocumentUpload.tsx
Due: frontend-lint, frontend-format-check

Add files via upload
  docs/agentic_flow_diagram.html
Due: none

Fix PR #81 review comments: Update subtitle and verify WebSocket endpoint
  docs/agentic_flow_diagram.html
Due: none

Pull Request - Add interactive architectural flow diagram (#81)
  docs/agentic_flow_diagram.html
Due: none

fix(dev): Use env-based ports in podman-setup.sh with correct defaults
  scripts/podman-setup.sh
Due: none

Implement FR#110: PR Recovery Automation After Force Push Remediation
  docs/WORKFLOW_PR_RECOVERY.md
  scripts/restore_closed_prs.py
  scripts/restore_closed_prs.sh
Due: frontend-format-check

Implement FR#110: PR Recovery Automation After Force Push Remediation (#89)
  docs/WORKFLOW_PR_RECOVERY.md
  scripts/restore_closed_prs.py
  scripts/restore_closed_prs.sh
Due: frontend-format-check

fix: Resolve backend pytest ModuleNotFoundError and Pydantic deprecation warnings (FR#125)
  .github/workflows/ci.yml
  Makefile
  backend/models/a2a_messages.py
  backend/models/context_model.py
  backend/models/stream_event_model.py
  backend/pytest.ini
Due: none

Migrate ESLint config to flat config format
  eslint.config.js
  package.json
Due: frontend-lint, frontend-format-check

feat: consolidate CI status checks into three primary gates (FR#135)
  .github/workflows/ci.yml
  .github/workflows/terraform.yml
  docs/CONTRIBUTION_QUALITY_GATES.md
Due: frontend-format-check

feat: consolidate CI status checks into three primary gates (FR#135) (#114)
  .github/workflows/ci.yml
  .github/workflows/terraform.yml
  docs/CONTRIBUTION_QUALITY_GATES.md
Due: frontend-format-check

refactor: Enhance PR#91 with robust error handling and validation
  .github/workflows/build.yml
  docs/IMAGE_TAGGING_STRATEGY.md
Due: frontend-format-check

feat(ci): FR#145 - Intelligent conditional CI execution with path filtering
  .github/workflows/ci.yml
Due: none

Complete ESLint v9 flat config migration (#103)
  .eslintrc.json
  bun.lock
  package.json
Due: frontend-format-check

feat: FR#090 - Standardize AI Model Interaction with Google GenAI Python SDK
  backend/agents/linker_agent.py
  backend/agents/orchestrator_agent.py
  backend/requirements.txt
  backend/services/gemini_client.py
  backend/tests/test_gemini_client.py
Due: none

fix: FR#085 - Resolve 'ADK System: Offline' Error
  backend/main.py
  backend/tests/test_adk_health_check.py
  services/backendService.ts
Due: frontend-lint, frontend-format-check

test: Add unit tests for ADK health check endpoints
  backend/services/gemini_client.py
Due: none

feat: FR#080 - Stabilize Gemma GPU Service (Clean Implementation)
  backend/gemma_service/auth.py
  backend/gemma_service/main.py
  backend/gemma_service/model_loader.py
  backend/requirements-gemma.txt
  backend/tests/test_gemma_auth.py
Due: none

fix: Add Workload Identity ID token fetching to Gemma client (FR#080)
  backend/requirements.txt
  backend/services/gemma_client.py
Due: none
