Repository stevei101/agentnav: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check

.pre-commit-config.yaml:

repos:
  # Python formatting and linting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: ^backend/
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^backend/
        args: ["--profile", "black"]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: ^backend/
        additional_dependencies: [types-requests]
        args: [--ignore-missing-imports]

  # Frontend formatting and linting  
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bun
        args: [run, lint]
        language: system
        files: \.(ts|tsx|js|jsx)$
        exclude: ^backend/

      - id: frontend-format-check
        name: Frontend Prettier Check
        entry: bun
        args: [run, format:check]
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        exclude: ^backend/

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

fix: Add Workload Identity ID token fetching to Gemma client (FR#080)
  backend/requirements.txt
  backend/services/gemma_client.py
Due: none

fix: FR#130 - Update OSV-Scanner action to latest stable version
  .github/workflows/ci.yml
Due: none

fix: FR#120 - Frontend Test Dependency Resolution Failure
  bun.lock
  components/__tests__/streaming-dashboard.test.tsx
  package.json
Due: frontend-lint, frontend-format-check

fix: FR#125 - Backend Python Path Resolution for Pytest
  .github/workflows/ci.yml
  Makefile
  backend/models/a2a_messages.py
  backend/models/context_model.py
  backend/models/stream_event_model.py
  backend/pytest.ini
Due: none

fix: Address Copilot review comments in PR#120
  .github/workflows/build.yml
  backend/services/gemini_client.py
  backend/tests/test_adk_health_check.py
  backend/tests/test_gemini_client.py
Due: none

fix: FR#115 - Migrate ESLint to v9+ Flat Config
  .eslintrc.json
  bun.lock
  eslint.config.js
  package.json
Due: frontend-lint, frontend-format-check

feat: FR#100 - Comprehensive status checks for all branches
  .github/workflows/ci.yml
  .github/workflows/terraform.yml
  docs/CONTRIBUTION_QUALITY_GATES.md
  scripts/setup_branch_protection.sh
Due: frontend-format-check

docs: Clarify INFRA_VERIFICATION path filtering behavior
  docs/CONTRIBUTION_QUALITY_GATES.md
Due: frontend-format-check

feature/fr-025-image-tagging: Updates with cleaned history (#91)
  .github/workflows/build.yml
  docs/IMAGE_TAGGING_STRATEGY.md
Due: frontend-format-check

docs: Clarify INFRA_VERIFICATION path filtering behavior (#130)
  docs/CONTRIBUTION_QUALITY_GATES.md
Due: frontend-format-check

feat: FR#100 - Comprehensive status checks for all branches (#128)
  .github/workflows/ci.yml
  .github/workflows/terraform.yml
  docs/CONTRIBUTION_QUALITY_GATES.md
  scripts/setup_branch_protection.sh
Due: frontend-format-check

Remove "Build Gemma Debug" from PR triggers (FR#150) (#127)
  .github/workflows/build-gemma-debug.yml
  docs/CONTRIBUTION_QUALITY_GATES.md
  docs/MANUAL_WORKFLOWS.md
  docs/README.md
Due: frontend-format-check

fix: Remove unused variables in test file to resolve linting errors
  components/__tests__/streaming-dashboard.test.tsx
Due: frontend-lint, frontend-format-check

fix: address code review comments for PR #123
  .github/workflows/build.yml
  backend/agents/orchestrator_agent.py
  backend/gemma_service/auth.py
  backend/gemma_service/model_loader.py
  backend/main.py
  backend/services/gemini_client.py
  backend/tests/test_adk_health_check.py
  backend/tests/test_gemini_client.py
  backend/tests/test_gemma_auth.py
Due: none

fix: Correct GPU deployment flags and optimize Gemma Dockerfile builds
  backend/Dockerfile.gemma
  scripts/deploy-gemma.sh
Due: none

Fix backend service availability: resolve import paths and Pydantic v2 compatibility
  backend/models/stream_event_model.py
  backend/routes/stream_routes.py
  backend/services/event_emitter.py
  scripts/diagnose-service-availability.sh
Due: none

feat: FR#090 Extension - Add flexible model selection (Gemini vs Gemma)
  .github/workflows/ci.yml
  backend/agents/linker_agent.py
  backend/agents/orchestrator_agent.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/services/gemini_client.py
  backend/tests/test_gemini_client_init.py
  backend/tests/test_model_selection_integration.py
  docs/FR090_MODEL_SELECTION_IMPLEMENTATION.md
  docs/MODEL_SELECTION_GUIDE.md
  terraform/cloud_run.tf
  terraform/outputs.tf
  terraform/variables.tf
Due: frontend-format-check
