Repository stevei101/agentnav: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check

.pre-commit-config.yaml:

repos:
  # Python formatting and linting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: ^backend/
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^backend/
        args: ['--profile', 'black']

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: ^backend/
        additional_dependencies: [types-requests]
        args: [--ignore-missing-imports]

  # Frontend formatting and linting
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bun
        args: [run, lint]
        language: system
        files: \.(ts|tsx|js|jsx)$
        exclude: ^backend/

      - id: frontend-format-check
        name: Frontend Prettier Check
        entry: bun
        args: [run, format:check]
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        exclude: ^backend/

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
        description: Detect private keys in commits

  # Security: Prevent .env file commits (FR#095)
  - repo: local
    hooks:
      - id: check-env-files
        name: Prevent .env file commits (FR#095)
        entry: bash -c
        args:
          - |
            if git diff --cached --name-only | grep -E "^\.env$|/\.env$"; then
              echo "ERROR: .env file detected! Use .env.example instead."
              exit 1
            fi
        language: system
        pass_filenames: false
        always_run: true

fix: Improve backend test reliability and error reporting (Issue #162)
  .github/workflows/ci.yml
  backend/tests/test_adk_health_check.py
Due: none

fix: Update patch targets to use source modules in test_adk_health_check
  backend/tests/test_adk_health_check.py
Due: none

fix: Resolve rebase conflicts - align imports to backend.* paths
  backend/main.py
  backend/models/stream_event_model.py
Due: none

fix: Fix frontend unit test errors (Issue #161) (#227)
  components/__tests__/streaming-dashboard.test.tsx
  vitest.setup.ts
Due: frontend-lint, frontend-format-check

fix: Improve Backend Test Reliability and Error Reporting (Issue #162) (#169)
  .github/workflows/ci.yml
  backend/main.py
  backend/models/stream_event_model.py
  backend/tests/test_adk_health_check.py
Due: none

fix(backend): eliminate redundant entrypoint.sh and use direct CMD (#188)
  HANDOFF_DOCUMENT.md
  WORK_STATUS.txt
  backend/Dockerfile
  backend/entrypoint.sh
Due: frontend-format-check

fix: Fix backend test failures in test_adk_health_check.py
  backend/tests/test_adk_health_check.py
Due: none

fix: Remove entrypoint.sh references and fix container permissions (Issue #187)
  backend/Dockerfile
Due: none

fix: Update bun.lock to resolve esbuild OSV vulnerability (GHSA-67mh-4wv8-2f99)
  bun.lock
Due: none

chore: Fix Prettier formatting for docs and config files
  .github/copilot-instructions.md
  .github/templates/pull_request_template.md
  .github/workflows/build.yml
  .github/workflows/ci.yml
  README.md
  components/__tests__/streaming-dashboard.test.tsx
  docs/ADK_CONSIDERATION_PLAN.md
  docs/AGENTNAV_GAP_ANALYSIS.md
  docs/AUTO_SCALING_DEMO_PLAN.md
  docs/GAP_ANALYSIS_COMPARISON.md
  docs/GEMMA_ROLLBACK_TEST_PLAN.md
  docs/HACKATHON_CRITERIA_ANALYSIS.md
  docs/ISSUE_208_STRATEGIC_PLAN.md
  docs/PROMPT_VAULT_GAP_ANALYSIS.md
  docs/SUPABASE_AUTH_GUIDE.md
  prompt-vault/QUICK_START.md
  prompt-vault/README.md
  prompt-vault/database/README.md
  terraform/README.md
  vitest.setup.ts
Due: frontend-lint, frontend-format-check

fix: Add Cloud Run uvicorn optimizations to CMD (addresses Gemini review)
  backend/Dockerfile
Due: none

chore: Add unused scripts to .dockerignore for smaller image size
  .dockerignore
Due: none

chore: Update .gitignore to include .env.* pattern (Issue #233)
  .gitignore
Due: none

fix: Critical Security - Purge .env.test from main-promptvault Git History (Issue #233) (#238)
  .gitignore
Due: none

chore(deps): add peer dependencies for @testing-library/react v16.3.0 (#185)
  package.json
Due: frontend-format-check

fix: Resolve backend pytest ModuleNotFoundError and Pydantic deprecation warnings (FR#125)
  .github/workflows/ci.yml
  backend/models/stream_event_model.py
  backend/pytest.ini
Due: none

Fix Gemma service: Handle invalid HUGGINGFACE_TOKEN gracefully
  backend/gemma_service/model_loader.py
Due: none

fix: resolve merge conflict in package.json
  package.json
Due: frontend-format-check

feat: Add Nginx proxy layer for multi-app routing
  .github/workflows/build.yml
  nginx-proxy/.gitignore
  nginx-proxy/Dockerfile
  nginx-proxy/LOCAL_TEST_RESULTS.md
  nginx-proxy/MULTI_APP_SETUP.md
  nginx-proxy/README.md
  nginx-proxy/START_SERVICES.md
  nginx-proxy/landing/README.md
  nginx-proxy/landing/index.html
  nginx-proxy/landing/styles.css
  nginx-proxy/nginx.conf
  nginx-proxy/nginx.conf.template
  nginx-proxy/test-local.sh
  nginx-proxy/test-results.md
  nginx-proxy/update-ports.sh
  prompt-vault/frontend/.eslintrc.cjs
  prompt-vault/frontend/.gitignore
  prompt-vault/frontend/bun.lock
  prompt-vault/frontend/index.html
  prompt-vault/frontend/package.json
  prompt-vault/frontend/postcss.config.js
  prompt-vault/frontend/src/App.tsx
  prompt-vault/frontend/src/components/Layout.tsx
  prompt-vault/frontend/src/components/Login.tsx
  prompt-vault/frontend/src/components/PromptEditor.tsx
  prompt-vault/frontend/src/components/PromptList.tsx
  prompt-vault/frontend/src/index.css
  prompt-vault/frontend/src/lib/supabase.ts
  prompt-vault/frontend/src/main.tsx
  prompt-vault/frontend/src/types/database.ts
  prompt-vault/frontend/src/vite-env.d.ts
  prompt-vault/frontend/tailwind.config.js
  prompt-vault/frontend/tsconfig.json
  prompt-vault/frontend/tsconfig.node.json
  prompt-vault/frontend/vite.config.ts
  scripts/restart-prompt-vault.sh
  scripts/test-all-apps.sh
  terraform/outputs.tf
  terraform/variables.tf
Due: frontend-lint, frontend-format-check

fix: Remove obsolete frameborder attribute from iframes
  nginx-proxy/landing/index.html
Due: none

fix: Add wget to Dockerfile for health check
  nginx-proxy/Dockerfile
Due: none

fix: Address all remaining PR review comments
  nginx-proxy/test-local.sh
  prompt-vault/frontend/vite.config.ts
  scripts/test-all-apps.sh
Due: frontend-lint, frontend-format-check

fix: Update Pydantic Field regex to pattern for v2 compatibility
  backend/models/stream_event_model.py
Due: none

feat: Configure prompt-vault ports to avoid conflicts
  prompt-vault/LOCAL_SETUP.md
  prompt-vault/backend/app/config.py
  prompt-vault/frontend/vite.config.ts
  prompt-vault/start-local.sh
Due: frontend-lint, frontend-format-check

fix: Resolve all 17 backend test failures (Issue #243)
  backend/tests/test_adk_health_check.py
  backend/tests/test_cloud_run_port_binding.py
  backend/tests/test_gemini_client_init.py
  backend/tests/test_stream_routes.py
Due: none

fix: Clear module cache more aggressively for Gemini client test
  backend/tests/test_gemini_client_init.py
Due: none

fix: Update OSV scanner action and ensure test_gemini_client.py is correct
  .github/workflows/ci.yml
Due: none
