Repository stevei101/agentnav: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check

frontend-lint:
  name: Frontend ESLint
  entry: bun
  args:
  - run
  - lint
  language: system

frontend-format-check:
  name: Frontend Prettier Check
  entry: bun
  args:
  - run
  - format:check
  language: system

fix(ci): add final meta-check to resolve branch protection conflict
  .github/workflows/ci.yml
Due: none

Fix startup probe configuration: Correct timeout calculations
  terraform/cloud_run.tf
Due: none

Enhance Gemma startup probe comment: Explain extended timeout for GPU model loading
  terraform/cloud_run.tf
Due: none

fix: FR#160 - Add CI Quality Gate meta-check to resolve skipped checks conflict
  .github/workflows/ci.yml
  FR160_INVESTIGATION.md
Due: frontend-format-check

fix: Add runtime VITE_API_URL injection for staging frontend
  .github/workflows/build.yml
  Dockerfile
Due: none

test: Verify FR#145 path filtering - docs-only change
  README.md
Due: frontend-format-check

fix: Allow .env.test in Git history if properly ignored
  .gitignore
  scripts/verify-no-secrets.sh
Due: none

fix: Address Copilot review comments for PR #153
  App.tsx
  backend/start.sh
  components/AgentDashboard.tsx
  components/DocumentUpload.tsx
  hooks/useAgentStream.ts
  services/backendService.ts
  vitest.setup.ts
Due: frontend-lint, frontend-format-check

Implement Zero-Tolerance CI Failure Policy & Mandatory FR Creation
  .github/copilot-instructions.md
  CONTRIBUTING.md
  docs/README.md
  docs/SYSTEM_INSTRUCTION.md
  docs/ZERO_TOLERANCE_FAILURE_POLICY.md
Due: frontend-format-check

Revise GitHub Copilot instructions for agentnav
  .github/copilot-instructions.md
Due: frontend-format-check

fix: Remove 'Made with Bob' comment and fix test file paths
  backend/start.sh
  backend/tests/test_deployment_config.py
Due: none

Optimize Cloud Run deployment with multi-stage builds and production FastAPI configuration (#138)
  .github/workflows/build.yml
  backend/Dockerfile
  backend/main.py
  backend/start.sh
  backend/tests/test_deployment_config.py
Due: none

feat: FR#185 - Gemma service multi-stage build and Cloud Build quota remediation
  .github/workflows/build.yml
  backend/gemma_service/Dockerfile
  cloudbuild-gemma.yaml
Due: none

Fix critical Cloud Run deployment configuration issues
  DEPLOYMENT_CHECKLIST.md
  DOCUMENTATION_INDEX.md
  Dockerfile
  FR165_INVESTIGATION_REPORT.md
  FR165_QUICK_START.md
  GEMMA_QUICK_SETUP.txt
  GEMMA_SETUP_COMPLETE.md
  GITHUB_TO_GCP_ACTION_PLAN.md
  HANDOFF_DOCUMENT.md
  ISSUE_131_HANDOFF.md
  ISSUE_PRIORITY_ANALYSIS.md
  NEXT_STEPS.md
  OPEN_ISSUES_ANALYSIS.md
  WORK_STATUS.txt
  backend/tests/test_cloud_run_port_binding.py
  docs/GEMMA_CREDENTIALS_DEPLOYMENT_FLOW.md
  docs/GEMMA_CREDENTIALS_SETUP.md
  docs/GITHUB_SECRETS_TO_GCP_GUIDE.md
Due: frontend-format-check

feat: Add Custom Copilot Agent documentation and Good First Issue template (FR#130) (#140)
  .github/agents/agentnav-gh-copilot-agent.md
  .github/templates/good_first_issue.md
  CONTRIBUTING.md
  docs/CONTRIBUTION_QUALITY_GATES.md
  docs/COPILOT_AGENT_GUIDE.md
  docs/README.md
Due: frontend-format-check

Path conditions:
  frontend-lint: any of: \.(ts|tsx|js|jsx)$, but not: ^backend/
  frontend-format-check: any of: \.(ts|tsx|js|jsx|json|css|md)$, but not: ^backend/
