Repository stevei101/agentnav: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check

.pre-commit-config.yaml:

repos:
  # Python formatting and linting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: ^backend/
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^backend/
        args: ["--profile", "black"]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: ^backend/
        additional_dependencies: [types-requests]
        args: [--ignore-missing-imports]

  # Frontend formatting and linting  
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bun
        args: [run, lint]
        language: system
        files: \.(ts|tsx|js|jsx)$
        exclude: ^backend/

      - id: frontend-format-check
        name: Frontend Prettier Check
        entry: bun
        args: [run, format:check]
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        exclude: ^backend/

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

fix: Resolve frontend unit test failures (Issue #161)
  components/__tests__/streaming-dashboard.test.tsx
  vitest.setup.ts
Due: frontend-lint, frontend-format-check

fix: Improve backend test reliability and error reporting (Issue #162)
  .github/workflows/ci.yml
  backend/tests/test_adk_health_check.py
Due: none

Fix CI failures: update tests and models for Pydantic v2
  backend/models/stream_event_model.py
  backend/pyproject.toml
  backend/pytest.ini
  backend/uv.lock
  components/__tests__/streaming-dashboard.test.tsx
  vitest.setup.ts
Due: frontend-lint, frontend-format-check

feat: Add Cloud Run custom domain mapping and DNS configuration (Issue #142)
  docs/CUSTOM_DOMAIN_SETUP.md
  terraform/apis.tf
  terraform/dns.tf
  terraform/outputs.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: frontend-format-check

fix: Allow .env.test in Git history if properly ignored (unified CI fix)
  .gitignore
  scripts/verify-no-secrets.sh
Due: none

fix: Enable DNS API and add dependency for DNS data source
  terraform/apis.tf
  terraform/dns.tf
Due: none

fix: Address Copilot review comments for DNS configuration (PR #170)
  docs/CUSTOM_DOMAIN_SETUP.md
  terraform/dns.tf
Due: frontend-format-check

fix: Remove duplicate model_type assignment in OrchestratorAgent
  backend/agents/orchestrator_agent.py
Due: none

fix: Correct COPY path in Dockerfile (addresses Copilot review)
  backend/Dockerfile
Due: none

Fix: Optimize Cloud Build timeout for GitHub Actions
  .github/workflows/build.yml
  cloudbuild-gemma.yaml
Due: none

Fix: Bash conditional causing early exit in image tagging step
  .github/workflows/build.yml
Due: none

Apply suggestion from @Copilot
  .github/copilot-instructions.md
Due: frontend-format-check
