Repository stevei101/agentnav: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check

frontend-lint:
  name: Frontend ESLint
  entry: bun
  args:
  - run
  - lint
  language: system

frontend-format-check:
  name: Frontend Prettier Check
  entry: bun
  args:
  - run
  - format:check
  language: system

Fix backend test issues and import paths (Issue #162, PR #169)
  backend/main.py
  backend/tests/test_adk_health_check.py
Due: none

Fix: Backend Test Patch Targets and Code Formatting
  backend/main.py
  backend/tests/test_adk_health_check.py
Due: none

chore: Configure Black formatter with exclusions
  backend/agents/summarizer_agent.py
  backend/agents/visualizer_agent.py
  backend/demo_fr005.py
  backend/models/context_model.py
  backend/models/stream_event_model.py
  backend/pyproject.toml
Due: none

chore: Format remaining files with Black
  backend/agents/base_agent.py
  backend/agents/linker_agent.py
  backend/agents/orchestrator_agent.py
  backend/main.py
  backend/models/a2a_messages.py
  backend/routes/stream_routes.py
  backend/services/a2a_protocol.py
  backend/services/a2a_security.py
  backend/services/context_persistence.py
  backend/services/event_emitter.py
  backend/services/firestore_client.py
  backend/services/gemini_client.py
  backend/services/knowledge_cache_service.py
  backend/services/prompt_loader.py
  backend/services/session_service.py
  backend/test_a2a_protocol.py
  backend/test_adk_system.py
  backend/test_fr005_workflow.py
  backend/tests/test_adk_health_check.py
  backend/tests/test_cloud_run_port_binding.py
  backend/tests/test_deployment_config.py
  backend/tests/test_fr029_integration.py
  backend/tests/test_gemini_client.py
  backend/tests/test_gemini_client_init.py
Due: none

Add black and ruff configuration to backend pyproject.toml
  backend/pyproject.toml
Due: none

Add black force-include configuration for test and main files
  backend/pyproject.toml
Due: none

chore: Update Black config - allowlist all Python files, keep minimal exclusions
  backend/pyproject.toml
Due: none

test: Add PR #231 local verification test script
  backend/agents/orchestrator_agent.py
  backend/agents/summarizer_agent.py
  backend/agents/visualizer_agent.py
  backend/main.py
  backend/models/a2a_messages.py
  backend/models/stream_event_model.py
  backend/pyproject.toml
  backend/services/a2a_security.py
  backend/test_pr231_rollback.py
Due: none

docs: Add prominent BUN-ONLY constraint for frontend package manager
  .github/copilot-instructions.md
Due: frontend-format-check

fix: Format all Python files with Black
  backend/agents/base_agent.py
  backend/agents/linker_agent.py
  backend/agents/orchestrator_agent.py
  backend/agents/summarizer_agent.py
  backend/agents/visualizer_agent.py
  backend/demo_fr005.py
  backend/main.py
  backend/models/a2a_messages.py
  backend/models/context_model.py
  backend/models/stream_event_model.py
  backend/services/a2a_protocol.py
  backend/services/a2a_security.py
  backend/services/context_persistence.py
  backend/services/event_emitter.py
  backend/services/firestore_client.py
  backend/services/gemini_client.py
  backend/services/knowledge_cache_service.py
  backend/services/prompt_loader.py
  backend/services/session_service.py
Due: none

fix: Format remaining test files with Black
  backend/test_a2a_protocol.py
  backend/tests/test_deployment_config.py
Due: none

fix: Format all remaining Python files with Black
  backend/routes/stream_routes.py
  backend/test_adk_system.py
  backend/test_fr005_workflow.py
  backend/test_pr231_rollback.py
  backend/tests/test_adk_health_check.py
  backend/tests/test_cloud_run_port_binding.py
  backend/tests/test_fr029_integration.py
  backend/tests/test_gemini_client_init.py
Due: none

chore: Clean up Gemma-related files and update test files
  backend/Dockerfile.gemma
  backend/Dockerfile.gemma.ci
  backend/requirements-gemma.ci.txt
  backend/requirements-gemma.txt
  backend/test_gemma_rollback.py
  backend/test_gemma_rollback_local.py
  backend/test_pr231_rollback.py
  backend/tests/test_cloud_run_port_binding.py
  backend/tests/test_gemini_client_init.py
  terraform/README.md
  terraform/terraform.tfvars.example
Due: frontend-format-check

fix: Address PR #231 review comments
  backend/agents/base_agent.py
  prompt-vault/Dockerfile
  scripts/commit-hackathon-analysis.sh
  terraform/cloud_build.tf
Due: none

fix: Fix Dockerfile permission error - copy and chmod entrypoint.sh before switching to non-root user
  backend/Dockerfile
Due: none

fix: Rewrite test_gemini_client.py to match current API (Issue #216)
  backend/tests/test_gemini_client.py
Due: none

fix: Update esbuild to 0.25.12 to fix OSV vulnerability GHSA-67mh-4wv8-2f99
  bun.lock
  package.json
Due: frontend-format-check

fix: Fix frontend unit test errors (Issue #161)
  components/__tests__/streaming-dashboard.test.tsx
  vitest.setup.ts
Due: frontend-lint, frontend-format-check

fix: Update security verification script to allow .env.test in history when in .gitignore
  scripts/verify-no-secrets.sh
Due: none

chore: Update .gitignore to explicitly include .env.* pattern (Issue #233)
  .gitignore
Due: none

fix: Upgrade ESLint plugins to support ESLint 9 Flat Config (Issue #215)
  bun.lock
  eslint.config.js
  package.json
Due: frontend-lint, frontend-format-check

fix: Upgrade ESLint plugins to support ESLint 9 Flat Config (Issue #215) (#234)
  .gitignore
  bun.lock
  eslint.config.js
  package.json
  scripts/verify-no-secrets.sh
Due: frontend-lint, frontend-format-check

Path conditions:
  frontend-lint: any of: \.(ts|tsx|js|jsx)$, but not: ^backend/
  frontend-format-check: any of: \.(ts|tsx|js|jsx|json|css|md)$, but not: ^backend/
