Repository stevei101/agentnav: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check

frontend-lint:
  name: Frontend ESLint
  entry: bun
  args:
  - run
  - lint
  language: system

frontend-format-check:
  name: Frontend Prettier Check
  entry: bun
  args:
  - run
  - format:check
  language: system

Add PR summary for Gemma GPU service build migration
  markdown/PR_SUMMARY.md
Due: frontend-format-check

Implement DocumentUpload component and integrate with streaming dashboard (Task 7/10)
  components/AgentDashboard.tsx
  components/DocumentUpload.tsx
  components/StreamingDashboard.tsx
Due: frontend-lint, frontend-format-check

Implement formal A2A Protocol with typed messages, Workload Identity security, and traceability (#36)
  backend/agents/base_agent.py
  backend/agents/orchestrator_agent.py
  backend/models/__init__.py
  backend/models/a2a_messages.py
  backend/services/a2a_protocol.py
  backend/services/a2a_security.py
  backend/test_a2a_protocol.py
  docs/A2A_PROTOCOL_INTEGRATION.md
  docs/A2A_SECURITY_AUDIT.md
  docs/FR027_IMPLEMENTATION_SUMMARY.md
Due: frontend-format-check

Implement Gemma GPU Service with batch embeddings and semantic relationship mapping (#38)
  FR028_IMPLEMENTATION_SUMMARY.md
  backend/agents/linker_agent.py
  backend/gemma_service/Dockerfile
  backend/gemma_service/README.md
  backend/gemma_service/main.py
  backend/services/gemma_client.py
  backend/tests/test_gemma_service.py
  backend/tests/test_linker_integration.py
  docs/GEMMA_INTEGRATION_GUIDE.md
Due: frontend-format-check

Add comprehensive test suite for streaming API and components (Task 8/10)
  backend/tests/test_stream_routes.py
  components/__tests__/streaming-dashboard.test.tsx
Due: frontend-lint, frontend-format-check

Add comprehensive API documentation and usage guides (Task 9/10)
  docs/FR020_USAGE_GUIDE.md
  docs/STREAMING_API_GUIDE.md
Due: frontend-format-check

Add comprehensive PR summary for FR#020 (Task 10/10 - Final)
  PR_FR020_SUMMARY.md
Due: frontend-format-check

Add FR#020 completion summary - All 10 tasks finished ✅
  FR020_COMPLETION_SUMMARY.md
Due: frontend-format-check

Add FR#020 quick start README - Implementation 100% Complete ✅
  FR020_README.md
Due: frontend-format-check

Fix CI workflow YAML syntax error - remove invalid './'
  .github/workflows/ci.yml
Due: none

Document CI workflow fix and verification
  CI_WORKFLOW_FIX.md
Due: frontend-format-check

Update docs/SYSTEM_INSTRUCTION.md
  docs/SYSTEM_INSTRUCTION.md
Due: frontend-format-check

Pull Request Update SYSTEM_INSTRUCTION.md (#44)
  docs/SYSTEM_INSTRUCTION.md
Due: frontend-format-check

Record PR #48 creation for FR#020
  PR_48_CREATED.md
Due: frontend-format-check

Add comprehensive project completion summary for FR#020
  PROJECT_COMPLETION_SUMMARY.md
Due: frontend-format-check

Add comprehensive review response for PR #48
  PR_48_REVIEW_RESPONSE.md
Due: frontend-format-check

Update markdown/PR_SUMMARY.md
  markdown/PR_SUMMARY.md
Due: frontend-format-check

Document complete review analysis for PR #48 - no blocking issues
  REVIEW_ANALYSIS_COMPLETE.md
Due: frontend-format-check

Add final status report for PR #48 review - approved for merge
  PR_48_FINAL_STATUS.txt
Due: none

add docs/index.html
  docs/index.html
Due: none

Fix push strategy to match backend Cloud Build config
  cloudbuild-gemma.yaml
Due: none

Path conditions:
  frontend-lint: any of: \.(ts|tsx|js|jsx)$, but not: ^backend/
  frontend-format-check: any of: \.(ts|tsx|js|jsx|json|css|md)$, but not: ^backend/
