Repository stevei101/agentnav: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check

.pre-commit-config.yaml:

repos:
  # Python formatting and linting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: ^backend/
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^backend/
        args: ["--profile", "black"]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: ^backend/
        additional_dependencies: [types-requests]
        args: [--ignore-missing-imports]

  # Frontend formatting and linting  
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bun
        args: [run, lint]
        language: system
        files: \.(ts|tsx|js|jsx)$
        exclude: ^backend/

      - id: frontend-format-check
        name: Frontend Prettier Check
        entry: bun
        args: [run, format:check]
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        exclude: ^backend/

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

Pull Request - Fix a critical YAML syntax error in the CI workflow that was preventing all CI jobs from running. (#55)
  .github/workflows/ci.yml
  .gitignore
  docs/ARCHITECTURE_DIAGRAM_GUIDE.md
  docs/DUAL_CATEGORY_STRATEGY.md
  docs/HACKATHON_QUICK_REFERENCE.md
  docs/HACKATHON_SETUP_CHECKLIST.md
  docs/HACKATHON_SUBMISSION_GUIDE.md
  scripts/podman-setup.sh
  scripts/podman-teardown.sh
Due: frontend-format-check

fix(eslint): Migrate to ESLint v9 flat config format
  eslint.config.js
  package.json
Due: frontend-lint, frontend-format-check

fix: Resolve CI test failures and add missing dependencies
  .github/workflows/ci.yml
  ESLINT_V9_MIGRATION.md
  backend/tests/conftest.py
  conftest.py
  package.json
Due: frontend-format-check

Fix indentation in CI workflow configuration
  .github/workflows/ci.yml
Due: none

fix(pydantic): Migrate to Pydantic v2 ConfigDict and pattern parameter
  backend/models/a2a_messages.py
  backend/models/context_model.py
  backend/models/stream_event_model.py
Due: none

docs: Document that Issue #59 (FR#060) was already resolved by FR#050
  RESOLUTION_ISSUE_59.md
Due: frontend-format-check

Improve PR comment step to only post on successful deployment
  .github/workflows/build.yml
Due: none

Checkpoint before follow-up message
  eslint.config.mjs
  package.json
Due: frontend-format-check

fix: Add ESLint v9 config, upgrade dependencies, fix OSV scanner
  .github/workflows/ci.yml
  bun.lock
  eslint.config.js
  package.json
Due: frontend-lint, frontend-format-check

Fix CI failures: ESLint v9 config, test imports, unused variables, and type errors
  .github/workflows/ci.yml
  App.tsx
  backend/__init__.py
  backend/tests/test_stream_routes.py
  components/AgentDashboard.tsx
  components/DocumentUpload.tsx
  components/InteractiveGraph.tsx
  components/KnowledgeGraph.tsx
  components/StreamingDashboard.tsx
  components/__tests__/streaming-dashboard.test.tsx
  eslint.config.js
  hooks/useAgentStream.ts
  services/backendService.ts
  services/geminiService.ts
  vite.config.ts
Due: frontend-lint, frontend-format-check

Apply suggestion from @Copilot
  scripts/podman-setup.sh
Due: none

Address PR #56 review comments
  backend/models/websocket_models.py
Due: none

Update backend/gemma_service/model_loader.py
  backend/gemma_service/model_loader.py
Due: none

Update backend/tests/test_health_check_enhanced.py
  backend/tests/test_health_check_enhanced.py
Due: none

fix: Comprehensive CI infrastructure improvements
  .github/workflows/build.yml
  .github/workflows/ci.yml
  docs/CI_INFRASTRUCTURE_IMPROVEMENTS.md
Due: frontend-format-check

docs: Clarify Podman (local) vs Docker (CI) usage
  docs/CI_INFRASTRUCTURE_IMPROVEMENTS.md
Due: frontend-format-check

fix: Increase Gemma service build timeout to 120 minutes
  .github/workflows/build.yml
Due: none

feat: Switch Gemma builds to GitHub Actions
  .github/workflows/build.yml
  docs/CI_INFRASTRUCTURE_IMPROVEMENTS.md
Due: frontend-format-check

Update components/DocumentUpload.tsx
  components/DocumentUpload.tsx
Due: frontend-lint, frontend-format-check
