Repository stevei101/agentnav: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check

.pre-commit-config.yaml:

repos:
  # Python formatting and linting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: ^backend/
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^backend/
        args: ['--profile', 'black']

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: ^backend/
        additional_dependencies: [types-requests]
        args: [--ignore-missing-imports]

  # Frontend formatting and linting
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bun
        args: [run, lint]
        language: system
        files: \.(ts|tsx|js|jsx)$
        exclude: ^backend/

      - id: frontend-format-check
        name: Frontend Prettier Check
        entry: bun
        args: [run, format:check]
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        exclude: ^backend/

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
        description: Detect private keys in commits

  # Security: Prevent .env file commits (FR#095)
  - repo: local
    hooks:
      - id: check-env-files
        name: Prevent .env file commits (FR#095)
        entry: bash -c
        args:
          - |
            if git diff --cached --name-only | grep -E "^\.env$|/\.env$"; then
              echo "ERROR: .env file detected! Use .env.example instead."
              exit 1
            fi
        language: system
        pass_filenames: false
        always_run: true

feat: adopt podman-cloudrun-deploy-gha reusable workflow
  .github/workflows/cloud-run-deploy.yml
Due: none

style: fix prettier formatting issues
  nginx-proxy/landing/index.html
  vitest.setup.ts
Due: frontend-lint, frontend-format-check

style: format remaining nginx-proxy files with prettier
  nginx-proxy/README.md
  nginx-proxy/landing/README.md
  nginx-proxy/landing/styles.css
Due: frontend-format-check

fix: add missing Any import in workload_identity_auth
  backend/services/workload_identity_auth.py
Due: none

test: stabilize vitest dom globals
  vitest.setup.ts
Due: frontend-lint, frontend-format-check

fix: use production Dockerfile for Cloud Run frontend deployment
  Dockerfile
  cloudbuild-frontend.yaml
Due: none

fix: address review feedback for healthz endpoint
  Dockerfile
Due: none

fix: replace 'as any' with proper type assertion in vitest setup
  vitest.setup.ts
Due: frontend-lint, frontend-format-check

fix: format nginx-proxy files to satisfy CI formatting check
  nginx-proxy/README.md
  nginx-proxy/landing/README.md
  nginx-proxy/landing/index.html
  nginx-proxy/landing/styles.css
Due: frontend-format-check

fix: add missing Any import in workload_identity_auth.py
  backend/services/workload_identity_auth.py
Due: none

fix: add missing dev dependencies and fix import sorting
  backend/pyproject.toml
  backend/tests/test_firestore_client.py
  backend/tests/test_knowledge_cache_service.py
  backend/tests/test_session_service.py
  backend/uv.lock
Due: none

feat: Streamline backend test suite for improved maintainability and performance
  backend/pyproject.toml
  backend/pytest.ini
  backend/tests/conftest.py
  backend/tests/test_adk_health_check.py
  backend/tests/test_firestore_client.py
  backend/tests/test_fr029_integration.py
  backend/tests/test_gemini_client.py
  backend/tests/test_gemini_client_init.py
  backend/tests/test_knowledge_cache_service.py
  backend/tests/test_session_service.py
  backend/tests/test_stream_routes.py
  package-lock.json
Due: frontend-format-check

fix: Apply Black formatting to test files
  backend/tests/conftest.py
  backend/tests/test_stream_routes.py
Due: none

fix: Apply isort import formatting to test files
  backend/tests/conftest.py
Due: none

fix: Remove unused imports to resolve Ruff linting errors
  backend/tests/test_stream_routes.py
Due: none

ci: Temporarily disable mypy type checking in CI
  .github/workflows/ci.yml
Due: none

ci: Add develop branch to deploy workflow triggers
  .github/workflows/deploy-cloudrun.yaml
Due: none

fix: Resolve deploy workflow YAML syntax error
  .github/workflows/deploy-cloudrun.yaml
Due: none

fix: Add Workload Identity authentication to terraform workflow
  .github/workflows/terraform.yml
Due: none

fix: TypeScript 5.9.3 compatibility - add missing id fields and improve test environment
  App.tsx
  bun.lock
  components/__tests__/AgentCard.test.tsx
  package.json
  vitest.config.ts
  vitest.setup.ts
Due: frontend-lint, frontend-format-check

Fix mypy regression and streamline streaming tests
  backend/agents/base_agent.py
  backend/agents/linker_agent.py
  backend/agents/orchestrator_agent.py
  backend/agents/summarizer_agent.py
  backend/agents/visualizer_agent.py
  backend/demo_fr005.py
  backend/main.py
  backend/models/a2a_messages.py
  backend/models/context_model.py
  backend/models/stream_event_model.py
  backend/pyproject.toml
  backend/pytest.ini
  backend/routes/stream_routes.py
  backend/scripts/seed_prompts.py
  backend/services/a2a_protocol.py
  backend/services/a2a_security.py
  backend/services/context_persistence.py
  backend/services/event_emitter.py
  backend/services/knowledge_cache_service.py
  backend/services/session_service.py
  backend/test_a2a_protocol.py
  backend/test_fr005_workflow.py
  backend/tests/conftest.py
  backend/tests/test_stream_routes.py
  backend/uv.lock
Due: none

ci: internalize Cloud Run deploy steps (replace external reusable workflow)
  .github/workflows/deploy-cloudrun.yaml
Due: none

fix: quote step name to resolve YAML parse error
  .github/workflows/deploy-cloudrun.yaml
Due: none

improve: run frontend checks before build step for better CI flow
  .github/workflows/deploy-cloudrun.yaml
Due: none

fix: address copilot feedback - align CPU/memory with docs and add missing env vars
  .github/workflows/deploy-cloudrun.yaml
Due: none

fix: correct Artifact Registry region from deployment region to europe-west1
  .github/workflows/deploy-cloudrun.yaml
Due: none

fix: correct nginx port template to resolve container startup failures
  .github/workflows/deploy-cloudrun.yaml
  Dockerfile
Due: none

feat: add missing proxy deployment and fix hardcoded ports
  .github/workflows/deploy-cloudrun.yaml
Due: none

fix: resolve nginx port template causing container startup failures
  Dockerfile
Due: none

fix: resolve nginx port template causing frontend container startup failures
  Dockerfile
Due: none

fix: add current branch to workflow triggers for manual testing
  .github/workflows/deploy-cloudrun.yaml
Due: none

fix: enable manual workflow dispatch from any branch
  .github/workflows/deploy-cloudrun.yaml
Due: none

Update branches for Cloud Run deployment workflow
  .github/workflows/deploy-cloudrun.yaml
Due: none

test: trigger deploy workflow to test nginx port template fix
  test-deploy.txt
Due: none

feat(terraform): provision gke cluster and node pools
  terraform/apis.tf
  terraform/gke.tf
  terraform/outputs.tf
  terraform/variables.tf
  terraform/versions.tf
Due: none

chore: add system instruction reference
  .github/system-instruction.md
Due: frontend-format-check

fix(terraform): tighten gke cluster configuration
  terraform/gke.tf
  terraform/variables.tf
  terraform/versions.tf
Due: none

ci: align build/deploy workflows with PBO
  .github/workflows/build.yml
  .github/workflows/deploy-cloudrun.yaml
Due: none

Add Cloud Run deploy workflow and hackathon docs
  .github/workflows/cloud-run-deploy.yml
  docs/archive/hackathon/DUAL_CATEGORY_STRATEGY.md
  docs/archive/hackathon/HACKATHON_CRITERIA_ANALYSIS.md
  docs/archive/hackathon/HACKATHON_QUICK_REFERENCE.md
  docs/archive/hackathon/HACKATHON_SETUP_CHECKLIST.md
  docs/archive/hackathon/HACKATHON_SUBMISSION_GUIDE.md
  docs/integrations/A2A_PROTOCOL_INTEGRATION.md
  docs/integrations/A2A_SECURITY_AUDIT.md
  docs/integrations/ADK_CONSIDERATION_PLAN.md
  docs/integrations/GEMMA_INTEGRATION_GUIDE.md
  docs/integrations/PROMPT_MANAGEMENT_GUIDE.md
  docs/integrations/README_SUPABASE.md
  docs/integrations/SUPABASE_AUTH_GUIDE.md
  docs/integrations/SUPABASE_GOOGLE_OAUTH_SETUP.md
Due: frontend-format-check

Add workflow to clean up Cloud Run services
  .github/workflows/clean-up-cloud-run-resources.yml
Due: none
