Repository stevei101/agentnav: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check

.pre-commit-config.yaml:

repos:
  # Python formatting and linting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: ^backend/
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^backend/
        args: ['--profile', 'black']

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        files: ^backend/
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: ^backend/
        additional_dependencies: [types-requests]
        args: [--ignore-missing-imports]

  # Frontend formatting and linting
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bun
        args: [run, lint]
        language: system
        files: \.(ts|tsx|js|jsx)$
        exclude: ^backend/

      - id: frontend-format-check
        name: Frontend Prettier Check
        entry: bun
        args: [run, format:check]
        language: system
        files: \.(ts|tsx|js|jsx|json|css|md)$
        exclude: ^backend/

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
        description: Detect private keys in commits

  # Security: Prevent .env file commits (FR#095)
  - repo: local
    hooks:
      - id: check-env-files
        name: Prevent .env file commits (FR#095)
        entry: bash -c
        args:
          - |
            if git diff --cached --name-only | grep -E "^\.env$|/\.env$"; then
              echo "ERROR: .env file detected! Use .env.example instead."
              exit 1
            fi
        language: system
        pass_filenames: false
        always_run: true

Adjust Prettier ignore patterns for docs and workflows
  .prettierignore
Due: none

Fix terraform workflow reusable reference
  .github/workflows/terraform.yml
Due: none

Grant permissions for reusable terraform workflow
  .github/workflows/terraform.yml
Due: none

Run terraform verification on develop
  .github/workflows/terraform.yml
Due: none

chore: regenerate secrets baseline
  .secrets.baseline
Due: none

chore: audit secrets baseline
  .secrets.baseline
Due: none

fix: Remove obsolete frameborder attribute from iframes
  nginx-proxy/landing/index.html
Due: none

fix: Add wget to Dockerfile for health check
  nginx-proxy/Dockerfile
Due: none

fix: Address all remaining PR review comments
  nginx-proxy/test-local.sh
  prompt-vault/frontend/vite.config.ts
  scripts/test-all-apps.sh
Due: frontend-lint, frontend-format-check

feat: Add Nginx proxy layer for multi-app routing
  .github/workflows/build.yml
  nginx-proxy/.gitignore
  nginx-proxy/LOCAL_TEST_RESULTS.md
  nginx-proxy/MULTI_APP_SETUP.md
  nginx-proxy/README.md
  nginx-proxy/START_SERVICES.md
  nginx-proxy/landing/README.md
  nginx-proxy/landing/styles.css
  nginx-proxy/nginx.conf
  nginx-proxy/nginx.conf.template
  nginx-proxy/test-results.md
  nginx-proxy/update-ports.sh
  prompt-vault/frontend/.eslintrc.cjs
  prompt-vault/frontend/.gitignore
  prompt-vault/frontend/bun.lock
  prompt-vault/frontend/index.html
  prompt-vault/frontend/package.json
  prompt-vault/frontend/postcss.config.js
  prompt-vault/frontend/src/App.tsx
  prompt-vault/frontend/src/components/Layout.tsx
  prompt-vault/frontend/src/components/Login.tsx
  prompt-vault/frontend/src/components/PromptEditor.tsx
  prompt-vault/frontend/src/components/PromptList.tsx
  prompt-vault/frontend/src/index.css
  prompt-vault/frontend/src/lib/supabase.ts
  prompt-vault/frontend/src/main.tsx
  prompt-vault/frontend/src/types/database.ts
  prompt-vault/frontend/src/vite-env.d.ts
  prompt-vault/frontend/tailwind.config.js
  prompt-vault/frontend/tsconfig.json
  prompt-vault/frontend/tsconfig.node.json
  scripts/restart-prompt-vault.sh
  terraform/outputs.tf
  terraform/variables.tf
Due: frontend-lint, frontend-format-check

chore: tighten backend cloud run access
  .github/workflows/build.yml
  scripts/restart-prompt-vault.sh
  scripts/test-all-apps.sh
Due: none

chore: reintroduce dev cloud run workflow
  .github/workflows/deploy-cloudrun.yaml
Due: none

Apply suggestion from @gemini-code-assist[bot]
  backend/services/workload_identity_auth.py
Due: none

ci: allow backend unauthenticated access for dev
  .github/workflows/build.yml
Due: none

docs: document detect-secrets helper
  docs/CONTRIBUTION_QUALITY_GATES.md
  scripts/check-secrets.sh
Due: frontend-format-check

ci: fix cloud run deploy workflow env usage
  .github/workflows/cloud-run-deploy.yml
Due: none

chore: ignore detect-secrets baseline
  .gitignore
Due: none

feat: add shared cloud run deploy workflows
  .github/workflows/cloud-run-deploy.yml
  .github/workflows/deploy-cloudrun.yaml
  .gitignore
  docs/CONTRIBUTION_QUALITY_GATES.md
  scripts/check-secrets.sh
Due: frontend-format-check

feat: implement cross-project DNS integration for agentnav.lornu.com
  .github/workflows/manage-dns-secrets.yml
  .github/workflows/monitor-cloud-run-ips.yml
  docs/CROSS_PROJECT_DNS_SETUP.md
  terraform/dns.tf
  terraform/outputs.tf
  terraform/secret_manager.tf
  terraform/variables.tf
Due: frontend-format-check

Revert "feat: implement cross-project DNS integration for agentnav.lornu.com"
  .github/workflows/manage-dns-secrets.yml
  .github/workflows/monitor-cloud-run-ips.yml
  docs/CROSS_PROJECT_DNS_SETUP.md
  terraform/dns.tf
  terraform/outputs.tf
  terraform/secret_manager.tf
  terraform/variables.tf
Due: frontend-format-check

fix: use secrets inherit for reusable workflow
  .github/workflows/deploy-cloudrun.yaml
Due: none

fix: remove dangling prompt_mgmt resource references
  terraform/outputs.tf
  terraform/secret_manager.tf
  terraform/variables.tf
Due: none

fix: remove secret reference from reusable workflow inputs
  .github/workflows/deploy-cloudrun.yaml
Due: none

fix: use secrets inherit and remove secret from inputs
  .github/workflows/deploy-cloudrun.yaml
Due: none

fix: mark dns_records_for_manual_creation output as sensitive
  terraform/outputs.tf
Due: none

Apply suggestion from @Copilot
  .github/workflows/monitor-cloud-run-ips.yml
Due: none

Apply suggestion from @Copilot
  docs/CROSS_PROJECT_DNS_SETUP.md
Due: frontend-format-check

feat: add Prompt Vault Artifact Registry resource
  terraform/artifact_registry.tf
  terraform/outputs.tf
Due: none

refactor: apply PR review suggestions for cross-project DNS
  .github/workflows/deploy-cloudrun.yaml
  .github/workflows/manage-dns-secrets.yml
  docs/CROSS_PROJECT_DNS_SETUP.md
  terraform/outputs.tf
Due: frontend-format-check

fix: remove Prompt Vault Artifact Registry references from Terraform
  terraform/artifact_registry.tf
  terraform/outputs.tf
  terraform/variables.tf
Due: none

style: fix terraform formatting
  terraform/outputs.tf
Due: none

style: fix terraform variables.tf formatting
  terraform/variables.tf
Due: none

chore: limit prettier to code files
  .prettierignore
Due: none

chore: exclude nginx proxy assets from prettier
  .prettierignore
Due: none

feat: convert to bun-only build system
  package.json
  vitest.setup.ts
Due: frontend-lint, frontend-format-check
