Repository stevei101/agentnav: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check

frontend-lint:
  name: Frontend ESLint
  entry: bun
  args:
  - run
  - lint
  language: system

frontend-format-check:
  name: Frontend Prettier Check
  entry: bun
  args:
  - run
  - format:check
  language: system

feat: Implement ADK Multi-Agent System with A2A Protocol (#26)
  .github/workflows/build-gemma-debug.yml
  App.tsx
  IMPLEMENTATION_COMPLETE.md
  PR_DESCRIPTION.md
  backend/Dockerfile.gemma.ci
  backend/agents/__init__.py
  backend/agents/base_agent.py
  backend/agents/linker_agent.py
  backend/agents/orchestrator_agent.py
  backend/agents/summarizer_agent.py
  backend/agents/visualizer_agent.py
  backend/demo_fr005.py
  backend/main.py
  backend/models/__init__.py
  backend/models/context_model.py
  backend/requirements-gemma.ci.txt
  backend/services/context_persistence.py
  backend/test_adk_system.py
  backend/test_fr005_workflow.py
  docs/FR005_IMPLEMENTATION.md
  docs/FR005_README.md
  docs/FR005_SUMMARY.md
  services/backendService.ts
Due: frontend-lint, frontend-format-check

feat: Add WebSocket streaming infrastructure for FR#020
  backend/main.py
  backend/models/stream_event_model.py
  backend/routes/stream_routes.py
  backend/services/event_emitter.py
  docs/FR020_IMPLEMENTATION_PLAN.md
Due: frontend-format-check

Add future_view.png to ideas directory
  ideas/future_view.png
Due: none

feat: Add event emission support to agent workflow for FR#020
  backend/agents/linker_agent.py
  backend/agents/orchestrator_agent.py
  backend/agents/summarizer_agent.py
Due: none

Add Cloud Build config for Gemma GPU service
  cloudbuild-gemma.yaml
Due: none

Switch Gemma builds to Cloud Build to avoid disk space issues
  .github/workflows/build.yml
Due: none

Fix Cloud Build push step - remove explicit docker push, use images section
  cloudbuild-gemma.yaml
Due: none

Add Cloud Build config for Gemma GPU service (#34)
  .github/workflows/build.yml
  cloudbuild-gemma.yaml
Due: none

Remove --format and --stream from Cloud Build step, let it run normally
  .github/workflows/build.yml
Due: none

Fix GPU argument from --gpu-count to --gpu
  cloudbuild-gemma.yaml
Due: none

Add explicit push step before deploy
  cloudbuild-gemma.yaml
Due: none

Fix bash syntax for short SHA in workflow
  .github/workflows/build.yml
Due: none

Fix bash syntax and GPU argument for Cloud Run deploy
  .github/workflows/build.yml
Due: none

Integrate dashboard components from future design mockup
  bun.lock
  components/A2ACommunication.tsx
  components/AgentCard.tsx
  components/AgentDashboard.tsx
  components/KnowledgeGraph.tsx
  components/ResultsPanel.tsx
  components/StreamingDashboard.tsx
  package.json
  tailwind.config.ts
  types.ts
  view_design.html
Due: frontend-lint, frontend-format-check

Add event streaming to Linker and Visualizer agents
  backend/agents/linker_agent.py
  backend/agents/visualizer_agent.py
Due: none

Implement useAgentStream React hook for WebSocket management
  components/AgentDashboard.tsx
  hooks/useAgentStream.ts
Due: frontend-lint, frontend-format-check

Update SYSTEM_INSTRUCTION.md
  docs/SYSTEM_INSTRUCTION.md
Due: frontend-format-check

Path conditions:
  frontend-lint: any of: \.(ts|tsx|js|jsx)$, but not: ^backend/
  frontend-format-check: any of: \.(ts|tsx|js|jsx|json|css|md)$, but not: ^backend/
