Repository stevei101/agentnav: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check

frontend-lint:
  name: Frontend ESLint
  entry: bun
  args:
  - run
  - lint
  language: system

frontend-format-check:
  name: Frontend Prettier Check
  entry: bun
  args:
  - run
  - format:check
  language: system

Fix pip install to use --prefix for proper package structure (#172)
  backend/gemma_service/Dockerfile
Due: none

fix: Terraform formatting for PR #135 CI compliance
  terraform/cloud_run.tf
  terraform/iam.tf
  terraform/provider.tf
  terraform/variables.tf
Due: none

chore(tests): add eslint env hints for browser/jest to avoid false positives in CI lint
  components/__tests__/streaming-dashboard.test.tsx
Due: frontend-lint, frontend-format-check

fix: Address backend test failures in PR #135
  backend/tests/test_adk_health_check.py
  backend/tests/test_cloud_run_port_binding.py
  backend/tests/test_model_selection_integration.py
  backend/tests/test_stream_routes.py
Due: none

ci(osv): pin to google/osv-scanner-action@v1 with scan-args; fix action schema error
  .github/workflows/ci.yml
Due: none

chore(deps): update bun.lock for lucide-react 0.552.0 (#181)
  bun.lock
Due: none

ci(osv): switch to official reusable workflow per docs; set permissions and scan-args
  .github/workflows/ci.yml
Due: none

ci(osv): fix reusable workflow syntax — remove runs-on for job using 'uses'
  .github/workflows/ci.yml
Due: none

fix(backend): eliminate redundant entrypoint.sh and use direct CMD
  HANDOFF_DOCUMENT.md
  WORK_STATUS.txt
  backend/Dockerfile
  backend/entrypoint.sh
Due: frontend-format-check

feat: FR#189 Build Optimization - Pre-Built Gemma GPU Base Image
  .github/workflows/build-gemma-base.yml
  backend/gemma_service/Dockerfile
  backend/gemma_service/Dockerfile.base
  cloudbuild-gemma.yaml
  docs/FR189_BUILD_OPTIMIZATION.md
  docs/GEMMA_INTEGRATION_GUIDE.md
Due: frontend-format-check

Move entrypoint script setup before user switch
  backend/Dockerfile
Due: none

Integrate prompt management backend with Firestore
  .gitignore
  COMMIT_MESSAGE.txt
  backend/main.py
  backend/models/__init__.py
  backend/models/prompt_models.py
  backend/routes/prompt_routes.py
  backend/routes/stream_routes.py
  backend/services/event_emitter.py
  backend/services/prompt_service.py
  backend/uv.lock
  docs/PROMPT_MANAGEMENT_INTEGRATION.md
Due: frontend-format-check

fix(build): Improve build ID extraction robustness in Gemma workflow
  .github/workflows/build.yml
Due: none

Add script to grant Gemini SCM role
  grant_gemini_role.sh
Due: none

Add .cursorignore file with common patterns
  .cursorignore
Due: none

feat: Implement Prompt Vault application with Supabase integration
  .github/copilot-instructions.md
  .github/workflows/build-prompt-vault.yml
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  .secrets.baseline
  docs/PROMPT_VAULT_ISOLATION_PLAN.md
  docs/PROMPT_VAULT_SECRETS_SETUP.md
  docs/SYSTEM_INSTRUCTION.md
  prompt-vault/.gitignore
  prompt-vault/Dockerfile
  prompt-vault/QUICK_START.md
  prompt-vault/README.md
  prompt-vault/database/README.md
  prompt-vault/database/schema.sql
  prompt-vault/frontend/.eslintrc.cjs
  prompt-vault/frontend/.gitignore
  prompt-vault/frontend/index.html
  prompt-vault/frontend/package.json
  prompt-vault/frontend/postcss.config.js
  prompt-vault/frontend/src/App.tsx
  prompt-vault/frontend/src/components/Layout.tsx
  prompt-vault/frontend/src/components/Login.tsx
  prompt-vault/frontend/src/components/PromptEditor.tsx
  prompt-vault/frontend/src/components/PromptList.tsx
  prompt-vault/frontend/src/index.css
  prompt-vault/frontend/src/lib/supabase.ts
  prompt-vault/frontend/src/main.tsx
  prompt-vault/frontend/src/types/database.ts
  prompt-vault/frontend/tailwind.config.js
  prompt-vault/frontend/tsconfig.json
  prompt-vault/frontend/tsconfig.node.json
  prompt-vault/frontend/vite.config.ts
  terraform/prompt_vault_cloud_run.tf
  terraform/prompt_vault_secrets.tf
Due: frontend-lint, frontend-format-check

fix: Improve Google OAuth setup and fix login flow
  docs/PROMPT_VAULT_GOOGLE_OAUTH_SETUP.md
  docs/PROMPT_VAULT_SECRETS_SETUP.md
  prompt-vault/QUICK_START.md
  prompt-vault/frontend/bun.lock
  prompt-vault/frontend/src/App.tsx
  prompt-vault/frontend/src/components/Login.tsx
  prompt-vault/frontend/src/lib/supabase.ts
Due: frontend-lint, frontend-format-check

research: NoSQL backend evaluation for Prompt Vault
  docs/PROMPT_VAULT_NOSQL_BACKEND_EVALUATION.md
Due: frontend-format-check

fix: CI isolation - correctly skip agentnav checks on prompt-vault changes
  .github/workflows/ci.yml
Due: none

fix: Address PR #201 review comments
  .github/workflows/build-prompt-vault.yml
  prompt-vault/Dockerfile
  prompt-vault/frontend/src/components/Login.tsx
  prompt-vault/frontend/src/components/PromptEditor.tsx
  prompt-vault/frontend/src/components/PromptList.tsx
  prompt-vault/frontend/src/lib/supabase.ts
  terraform/prompt_vault_cloud_run.tf
  terraform/tfplan
Due: frontend-lint, frontend-format-check

fix: Remove duplicate error state declaration in PromptList
  prompt-vault/frontend/src/components/PromptList.tsx
Due: frontend-lint, frontend-format-check

feat: Enhance PromptList UI with modern design features
  prompt-vault/frontend/src/components/PromptList.tsx
Due: frontend-lint, frontend-format-check

Fix/ci isolation prompt vault (#203)
  .github/workflows/ci.yml
  docs/PROMPT_VAULT_NOSQL_BACKEND_EVALUATION.md
Due: frontend-format-check

Path conditions:
  frontend-lint: any of: \.(ts|tsx|js|jsx)$, but not: ^backend/
  frontend-format-check: any of: \.(ts|tsx|js|jsx|json|css|md)$, but not: ^backend/
